<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	The tutorial provider is
	<a target="_blank"href="http://railstutorial.org">railstutorial.org</a>
	from their great book. The student is
	<a target="_blank" href="http://degreed.com/kennethchristensen">Kenneth Christensen</a>.



</p>
